<!DOCTYPE html>
<html>
<form method="post" action="/guardarPost">
	<div>
	     <label for="usuarios" class="rem">usuarios:</label>
       <INPUT type="text" name="usuario" >
    </div>
    <div>
	    <label for="post" class="rem">Entrada:</label>
	    
    </div>
    <div>
    	<input type="submit" name="envio" value="Registrar Post">
     </div> 
</form>
</html>
